.sectionContainer {
  width: 100%;
}

.div {
  box-sizing: border-box;
  width: 100%;
  padding: 3rem 0rem;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sectionTitleDiv {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.sectionTitleDiv2 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.sectionSubtitle {
  width: 90%;
  max-width: 800px;
  font-size: 3rem;
  line-height: 3.125rem;
  margin: 0rem;
  text-align: start;
}

.sectionParagraph {
  width: 90%;
  max-width: 800px;
  margin: 1rem 0rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 300;
  text-align: start;
}

.div2 {
  box-sizing: border-box;
  width: 100%;
  padding: 3rem 0rem;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center !important;
  overflow: hidden;
}

.sectionTitleDiv2 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.sectionSubtitle2 {
  width: 80%;
  max-width: 600px;
  font-size: 3rem;
  line-height: 3.125rem;
  margin: 0rem !important;
  text-align: end;
}

.sectionParagraph2 {
  width: 80%;
  max-width: 600px;
  margin: 1rem 0rem !important;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.sectionParagraph2 > p {
  text-align: end;
}

@media (max-width: 1200px) {
  .div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .sectionTitleDiv {
    align-items: center;
    justify-content: center;
    width: 70%;
  }

  .sectionSubtitle {
    text-align: center;
    margin: 0rem;
    width: 100%;
  }

  .sectionParagraph {
    text-align: center;
    width: 100%;
  }

  .div2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .sectionTitleDiv2 {
    align-items: center;
    justify-content: flex-end;
    width: 70%;
  }

  .sectionSubtitle2 {
    text-align: center;
    width: 100%;
  }

  .sectionParagraph2 {
    text-align: center !important;
    width: 100%;
  }
}
