.container {
  width: 100%;
  background-color: #131313;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  width: 100%;
  max-width: 800px;
  font-size: 3rem;
  line-height: 3.125rem;
  margin: 0rem;
  text-align: center;
  color: #fafafa;
  margin-bottom: 1rem;
}

.separator {
  width: 75px;
  height: 3px;
  background-color: #fafafa;
  margin-bottom: 1rem;
}

.formDiv {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.25rem;
}

.inputDiv > label {
  color: #fafafa;
  font-size: 1.25rem;
}

.inputDiv > input {
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  outline: none;
  margin-bottom: 0.75rem;
}

.inputDiv > textarea {
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1.125rem;
  outline: none;
  margin-bottom: 0.75rem;
  height: 125px;
  font-family: "Poppins", sans-serif;
  resize: none;
}

.formDiv > button {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  outline: none;
  background-color: transparent;
  border: 2px solid #fafafa;
  color: #fafafa;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: bold;
  transition: background-color 0.4s ease;
}

.formDiv > button:hover {
  background-color: #fafafa;
  border: 2px solid transparent;
  color: #171717;
}

.feedbackContainer {
  background-color: #131313;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0rem;
  animation: fade 1s ease 0.3s forwards;
  opacity: 0;
}

.feedbackIllustration {
  width: 70%;
  max-width: 700px;
}

.feedbackTitle {
  color: #fafafa;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  margin: 3rem 0rem 4rem 0rem;
  width: 70%;
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
