.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splashDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #191919;
  padding: 0rem 1rem;
}

.websiteTitle {
  font-size: 5rem;
  text-align: center;
}

.splashDiv path {
  stroke-width: 5;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: animateLogo 1.9s ease-in-out forwards;
}

.splashDiv svg {
  width: 100%;
  animation: fillAnimation 0.6s ease forwards 1s;
}

.subtitle {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 400;
  color: transparent;
  animation: subtitleAnimation 0.5s ease-in forwards 1.3s;
  margin: 1rem 0rem;
}

.scrollIcon {
  width: 15px;
  position: absolute;
  bottom: 2rem;
  animation: scrollAnimation 1.3s ease alternate infinite;
}

.languageSelect {
  position: absolute;
  top: 2rem;
  right: 5%;
  outline: none;
  border: none;
  border-bottom: 2px solid #fafafa;
  background-color: transparent;
  color: #fafafa;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0rem 0.25rem;
  cursor: pointer;
}

.languageSelect option {
  color: #191919;
  border: none;
}

.section1 {
  box-sizing: border-box;
  width: 100%;
  padding: 3rem 0rem;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section1Illustration {
  max-width: 800px;
  width: 100%;
}

.sectionTitleDiv {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.sectionSubtitle {
  width: 90%;
  max-width: 800px;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0rem;
  text-align: center;
  /* -webkit-animation: slide-right 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
}

.sectionParagraph {
  width: 90%;
  max-width: 800px;
  margin: 1rem 0rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 300;
  -webkit-animation: slide-left 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  text-align: center;
}

.section3 {
  box-sizing: border-box;
  width: 100%;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fafafa;
  padding: 3rem 0rem;
}

.projectsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  width: 90%;
}

.projectName {
  margin: 1rem 0rem;
}

.projectBtn {
  font-size: 1rem;
  font-weight: 500;
  color: #fafafa;
  padding: 0.25rem 2rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #fafafa;
  cursor: pointer;
}

.slide-appear {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes animateLogo {
  to {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

@keyframes fillAnimation {
  from {
    fill: transparent;
  }
  to {
    fill: #f7f7f7;
    stroke-width: 0;
    -webkit-filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
  }
}

@keyframes subtitleAnimation {
  from {
    color: transparent;
  }

  to {
    color: #e1e1e1;
  }
}

@keyframes scrollAnimation {
  from {
    bottom: 2rem;
  }

  to {
    bottom: 1rem;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
