.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 1200px;
  padding: 5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  width: 300px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  margin: 2rem;
  border-radius: 0.5rem;
  /* box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.05); */
}

.section1Illustration {
  height: 100px;
  margin-right: 0.5rem;
}

.detailTitle {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 500;
}
