.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splashDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #191919;
  padding: 0rem 1rem;
}

.websiteTitle {
  font-size: 5rem;
  text-align: center;
}

.splashDiv path {
  stroke-width: 5;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: animateLogo 1.6s ease-in-out forwards;
}

.splashDiv svg {
  width: 100%;
  animation: fillAnimation 0.6s ease forwards 1s;
}

.subtitle {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 400;
  color: transparent;
  animation: subtitleAnimation 0.5s ease-in forwards 1.7s;
  margin: 1rem 0rem;
}

.scrollIcon {
  width: 20px;
  position: absolute;
  bottom: 2rem;
  animation: scrollAnimation 1.3s ease alternate infinite;
}

.section1 {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1Illustration {
  height: 100%;
}

.section1Div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.sectionTitleDiv {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.sectionSubtitle {
  font-size: 3rem;
  line-height: 3rem;
  margin: 0rem;
  text-align: center;
}

@keyframes animateLogo {
  to {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

@keyframes fillAnimation {
  from {
    fill: transparent;
  }
  to {
    fill: #f7f7f7;
    stroke-width: 0;
    -webkit-filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
  }
}

@keyframes subtitleAnimation {
  from {
    color: transparent;
  }

  to {
    color: #e1e1e1;
  }
}

@keyframes scrollAnimation {
  from {
    bottom: 2rem;
  }

  to {
    bottom: 1rem;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
